<%- include('./partials/head.ejs') %>

    <body class="about">
        <%- include('./partials/nav.ejs') %>
            <h1>Welcome to about</h1>


            <%- include('./partials/footer.ejs') %>