<%- include('./partials/head.ejs') %>

    <body class="home">
        <%- include('./partials/nav.ejs') %>
            <h1>Welcome to homepage</h1>
            <a href="http://localhost:4000/api/protected/dashboard">View Dashboard</a>


            <%- include('./partials/footer.ejs') %>